@import './reset.scss';

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  min-width: $desktop-width-max;
}

.main-container {
  position: relative;
  top: $header-height;
  min-height: 100vh;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: $desktop-width-max;
}